<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="btn-group navbar-right">
                <div class="padding-top8">
                    <button type="button" class="btn btn-default">@Html.ActionLink("Home", "Index", "Home")</button>
                    <button type="button" class="btn btn-default">@Html.ActionLink("About", "About", "Home")</button>
                    <button type="button" class="btn btn-default">@Html.ActionLink("Contact", "Contact", "Home")</button>
                </div>
            </div>
        </nav>

        @RenderBody()

        <footer>
            <div class="text-center padding-top8">&copy; @DateTime.Now.Year - dpworks.org<br />
            Developed by <a href="http://www.marcclifton.com" target="_blank">Marc Clifton</a></div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
